#googleIcon{
    background: url("../images/btn_google_signin_dark_normal_web.png");
    background-repeat: round;
    display: inline-block;
    vertical-align: middle;
    width: 191px;
    height: 46px;
}
#googleIcon:focus{
    background: url("../images/btn_google_signin_dark_focus_web.png");
}
#googleIcon:active{
    background: url("../images/btn_google_signin_dark_pressed_web.png");
}
span.active{
    background: white;
}

.nutritionTable th{
    font-weight: 500;
}
.Saturated,.Trans,.Monounsaturated,.Polyunsaturated,.Fiber,.Sugars{
    font-weight: 500;
    padding-left: 20px;
}

.Energy,.Fat,.Carbs,.Protein,.Cholesterol,.Sodium{
    font-weight: 700!important;
    border-bottom: 2px solid black;
}