#googleIcon{
    background: url("../images/btn_google_signin_dark_normal_web.png");
    background-repeat: round;
    display: inline-block;
    vertical-align: middle;
    width: 191px;
    height: 46px;
}
#googleIcon:focus{
    background: url("../images/btn_google_signin_dark_focus_web.png");
}
#googleIcon:active{
    background: url("../images/btn_google_signin_dark_pressed_web.png");
}

.rounded-full{
    background: white;
    border:2px solid #f441a5;
    color:black;
    margin: 1px 2px;
}

.rounded-full.active{
    background: #f441a5;
    border:2px solid #f441a5;
    margin: 1px 2px;
    color: #fff;
}

.totalNutrients{
    border: 1px solid black;
    padding: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.nutritionTable th{
    font-weight: 500;
    padding-right: 15px;
}
.FASAT,.FATRN,.FAMS,.FAPU,.FIBTG,.SUGAR{
    font-weight: 500;
    padding-left: 20px;
}

.ENERC_KCAL,.FAT,.CHOCDF,.PROCNT,.CHOLE,.NA{
    font-weight: 700!important;
    border-bottom: 2px solid black;
}

#healthLabels{
    padding-top: 10px;
}

.recipeCard{
    padding: 20px;
    margin: 10px;
}
