.totalNutrients{
    border: 1px solid black;
    padding: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.nutritionTable th{
    font-weight: 500;
    padding-right: 15px;
}

.FASAT,.FATRN,.FAMS,.FAPU,.FIBTG,.SUGAR{
    font-weight: 500;
    padding-left: 20px;
}

.ENERC_KCAL,.FAT,.CHOCDF,.PROCNT,.CHOLE,.NA{
    font-weight: 700!important;
    border-bottom: 2px solid black;
}





