.rounded-full{
    background:none;
    border:2px solid var(--bright-red);
    color:var(--cream);
    margin: 1px 2px;
}

.rounded-full.active{
    background: var(--bright-red);
    border:2px solid var(--bright-red);
    margin: 1px 2px;
    color: #fff;
}