#searchBox{
    background-color: var(--dark-black);
    position: sticky;
    top: 40px;
    z-index: 100;
    padding: 10px;
    box-shadow: 0 15px 15px -5px var(--dark-black);
}
#searchForm{
    width: 80%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.searchFormGroup{
    /* color: #F1E7DE; */
    display: flex;
    flex-grow:2;
    align-items: center;
    justify-content: space-between;
}

.searchLabel{
    padding-right: 10px;
    min-width: fit-content;
}

.search{
    color:var(--cream);
    background:  none;
    border-right: none;
    border: 2px solid var(--cream); 
}
.searchBtn{
    /* color:#F1E7DE; */
    /* background:  #FD2E58; */
    border: 2px solid var(--cream);
    /* border-top: 2px solid #FD2E58; */
    /* border-bottom: 2px solid #FD2E58; */ 
}

.search,.searchBtn{
    padding: 8px;
    /* color:#EFA93A; */
}

.zeroWidth{
    width: 0px;
    padding: 0;
    border:none;
}
.slidOut{
    /* width:100%; */
    /* flex-grow: 100%; */
    width: 100%;
    animation: slidOut 1s;
}
.removeLeftBorder{
    border-left: none;
}

#healthLabels{
    padding-top: 10px;
    width: 80%;
    margin: auto;
}




@keyframes slidOut {
    from {
        /* flex-grow: 0; */
        width: 0;
        /* transform: translateX(100%);  */
    }
    to {
        width: 100%;
        /* transform: translateX(0);  */
        /* flex-grow: 100%; */
    }
  }

