html,body,main{
  height: 100%;
  min-height: fit-content;
}
body{
  background-color: rgb(221, 236, 236);
}



.relative {
  background-image: url("../images/food.jpg");
}



#loginBtnHead:hover{
  animation: animating 8s linear infinite;
  }
  
  @keyframes animating
  {
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
  }
  
  #loginBtnHead:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  
  #loginBtnHead:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: animating 8s linear infinite;
  }


#logoutBtnHead{
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
border-radius: 30px;
}



#logoutBtnHead:hover{
animation: animating 8s linear infinite;
}

@keyframes animating
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}

#logoutBtnHead:before
{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

#logoutBtnHead:hover::before
{
  filter: blur(20px);
  opacity: 1;
  animation: animating 8s linear infinite;
}



.closelogin{
  z-index: 100;
}




h1 span{
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Rock Salt', cursive;
}

h1 span{
  display: table-cell;
margin: 0;
padding: 0;
animation: animate 2s linear infinite;
}

h1 span:nth-child(1)
{
  animation-delay: .5s;
}  
h1 span:nth-child(2)
{
  animation-delay: 0.75s;
}  
h1 span:nth-child(3)
{
  animation-delay: 1.00s;
}  
h1 span:nth-child(4)
{
  animation-delay: 1.25s;
}  
h1 span:nth-child(5)
{
  animation-delay: 1.5s;
}  
  h1 span:nth-child(6)
{
  animation-delay: 1.75s;
}  
h1 span:nth-child(7)
{
  animation-delay: 2.00s;
}  
h1 span:nth-child(8)
{
animation-delay: 2.25s;
}

@keyframes animate
{
  0%,100%
 {
color: rgb(252, 6, 6);
filter: blur(2px);
text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff,
            0 0 300px #00b3ff,
            0 0 400px #00b3ff, 
}
5%,95%
{
  color: #fff;
filter: blur(0px);
text-shadow: 0 0 10px none;
}

}

.bg-grey-light {
  background-color: rgb(245, 61, 29);
}

#searchBtn{
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
border-radius: 30px;
}



#searchBtn:hover{
animation: animating 8s linear infinite;
}

@keyframes animating
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}

#searchBtn:before
{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

#searchBtn:hover::before
{
  filter: blur(20px);
  opacity: 1;
  animation: animating 8s linear infinite;
}


      
       #discoverBtn{ 
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 20px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
      #savedBtn{
        float: left;
        width: 20%;
        padding: 10px;
        background: rgb(136, 228, 152);
        color: white;
        font-size: 20px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      
      .saveToAccount {
        background-color: #004A7F;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Arial;
        font-size: 20px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
      }
      @-webkit-keyframes glowing {
        0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
      }
      
      @-moz-keyframes glowing {
        0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
      } 
      
      @-o-keyframes glowing {
        0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      }
      
      @keyframes glowing { 
        0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      }
      

      
      


 .recipe-img {
    background-size: cover;
    float: left;
    margin: 4px;
    box-shadow: 0 2px 4px #000;
    position: relative;
    transform: scale(0.9);
    transition: .1s;
  }
  
  .recipe-img:hover {
    transform: scale(1);
    box-shadow: 0 2px 4px #000, 0 8px 32px rgba(0, 0, 0, 0.5);
  }
  
  .recipe-img:hover:before,
  .recipe-img:hover:after {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, #ddd 40%, transparent 40%);
    top: -3px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: 1;
    border-radius: 4px;
    background-size: 200% 2px;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 8px #fff);
    background-position: 80% 0;
  }
  
  .recipe-img:hover:before {
    animation: beforeLineAnim 2s linear infinite;
  }
  
  .recipe-img:hover:after {
    animation: afterLineAnim 2s linear infinite;
    transform: rotate(-90deg);
    background-position: -20% 0;
  }
  
   @keyframes beforeLineAnim {
    45%,
    50% {
      background-position: -100% 0;
    }
    45% {
      transform: scale(1)
    }
    50%,
    95% {
      transform: scale(1, -1)
    }
    95% {
      background-position: 80% 0
    }
  } 
  
  @keyframes afterLineAnim {
    20%,
    25% {
      background-position: -100% 0;
    }
    20% {
      transform: scale(1) rotate(-90deg)
    }
    25% {
      transform: scale(-1, 1) rotate(-90deg)
    }
    70%,
    75% {
      background-position: 80% 0;
    }
    70% {
      transform: scale(-1, 1) rotate(-90deg)
    }
    75% {
      transform: scale(1, 1) rotate(-90deg)
    }
  }
  
  .recipeCard{
padding: 70px;

  }

  
  
  