html,body{
  height: 100%;
  font-family: "brandon-grotesque", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  background-color: #090B1A;
  color: var(--dark-gray);
}

.fixHeader{
  padding-left: 5%;
  width: 100%;
  max-height: 55px;
  position: fixed;
  top: 0;
  background: var(--cream);
  border-bottom: 5px solid var(--bright-red);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.fixHeader:hover{
  height: 55px!important;
  transition: height 0.5s ease-in-out;
}


.topHeader, .navBar{
  display: inline-block;
}

.topHeader{
  margin-right: 30px;
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
}

.navBar .navItem{
  padding: 10px;
  cursor: pointer;
}
.navBar .navItem:hover{
  color: var(--bright-red);
}




.parallax{
  background-image: url("../images/ingredients.jpg");
  height: 100vh; 
  padding-left: 5%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid var(--bright-red);
  font-weight: 600;
  
}


.headline{
  width: fit-content;
  /* margin-left: auto; */
  margin-right: auto;
  padding-top: 33%;
  letter-spacing: 3px;
}

.headline span{
  display: inline-block;
  font-size: 60px;
  color:var(--cream);
  margin-right: -8px;
}
.subHeadline{
  font-size: 35px;
}

.subHeadline #love{
  color: var(--bright-red);
}

/* h1 span{
ma rgin: 0;
padding: 0;
animation: headlineFlash 2s linear infinite;
} */

/* h1 span:nth-child(1)
{
  animation-delay: 0.5s;
}  
h1 span:nth-child(2)
{
  animation-delay: 0.75s;
}  
h1 span:nth-child(3)
{
  animation-delay: 1.00s;
}  
h1 span:nth-child(4)
{
  animation-delay: 1.25s;
}  
h1 span:nth-child(5)
{
  animation-delay: 1.5s;
}  
  h1 span:nth-child(6)
{
  animation-delay: 1.75s;
}  
h1 span:nth-child(7)
{
  animation-delay: 2.00s;
}  
h1 span:nth-child(8)
{
animation-delay: 2.25s;
} */

#loginoutDiv{
  padding: 10px 15px 0px 10px;
}
#logoutBtnHead, #loginBtnHead{
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  margin: 0;
}

#loginBtnHead:hover, #logoutBtnHead:hover{
  animation: rainbowEffect 8s linear infinite;
}
/*   
#loginBtnHead:before,
#logoutBtnHead:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}
  
#loginBtnHead:hover::before,
#logoutBtnHead:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: rainbowEffect 8s linear infinite;
  } */



.main{
   padding-top: 80px; /*double as header */
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
   color: var(--cream);
}






@keyframes rainbowEffect
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}





@keyframes headlineFlash{
  0%,100%{
    color: rgb(252, 6, 6);
    filter: blur(2px);
    text-shadow: 0 0 10px red,
                  0 0 20px yellow,
                  0 0 40px green,
                  0 0 80px blue,
                  0 0 120px magenta,
                  0 0 200px purple,
                  0 0 300px red,
                  0 0 400px red
  }
  5%,95%{
    color: #fff;
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}


/*       
#discoverBtn{ 
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#saved{
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(136, 228, 152);
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} */

    
#searchDiv{
  width: 80%;
  margin: auto;
}

#savedDiv{
  width: 80%;
  margin: auto;
}


.savedAlert{
  display: none;
  position: fixed;
  background-color: var(--bright-red);
  top:35%;
  left: 20%;
  right: 20%;
}