html,body,main{
  height: 100%;
  min-height: fit-content;
}
body{
  background-color: rgb(221, 236, 236);
}

header {
  position: relative;
  margin-left: auto;
  margin-right:auto;
  padding: 40px;
}


.parallax{
  background-image: url("../images/aspen-caribbean-feast-2018-01.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .container{
  background-image: url("../images/food.jpg");
} */




h1{
  margin-bottom: 10px;
}

h1 span{
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Rock Salt', cursive;
margin-left: -7px;
}

h1 span{
  /* display: table-cell; */
margin: 0;
padding: 0;
animation: headlineFlash 2s linear infinite;
}

h1 span:nth-child(n)
{
  animation-delay: 0.5s;
}  
h1 span:nth-child(2)
{
  animation-delay: 0.75s;
}  
h1 span:nth-child(3)
{
  animation-delay: 1.00s;
}  
h1 span:nth-child(4)
{
  animation-delay: 1.25s;
}  
h1 span:nth-child(5)
{
  animation-delay: 1.5s;
}  
  h1 span:nth-child(6)
{
  animation-delay: 1.75s;
}  
h1 span:nth-child(7)
{
  animation-delay: 2.00s;
}  
h1 span:nth-child(8)
{
animation-delay: 2.25s;
}



#loginoutDiv{
  margin-bottom: 10px;
}

#logoutBtnHead, #loginBtnHead, #searchBtn{
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
background-size: 400%;
border-radius: 30px;
}

#loginBtnHead:hover, #logoutBtnHead:hover, #searchBtn:hover{
  animation: rainbowEffect 8s linear infinite;
}
  
#loginBtnHead:before,
#logoutBtnHead:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}
  
#loginBtnHead:hover::before,
#logoutBtnHead:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: rainbowEffect 8s linear infinite;
  }


.closelogin{
  z-index: 100;
  cursor: pointer;
}




@keyframes rainbowEffect
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}





@keyframes headlineFlash{
  0%,100%{
    color: rgb(252, 6, 6);
    filter: blur(2px);
    text-shadow: 0 0 10px red,
                  0 0 20px yellow,
                  0 0 40px green,
                  0 0 80px blue,
                  0 0 120px magenta,
                  0 0 200px purple,
                  0 0 300px red,
                  0 0 400px red
  }
  5%,95%{
    color: #fff;
    filter: blur(0px);
    text-shadow: 0 0 10px none;
  }
}


      
#discoverBtn{ 
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#saved{
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(136, 228, 152);
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

    
      

      
      

#healthLabels{
  padding-top: 10px;
}



.savedAlert{
  display: none;
  position: fixed;
  background-color: #f441a5;
  top:35%;
  left: 20%;
  right: 20%;
}