

.relative {
    background-image: url("../images/food.jpg");
    
  }
  
 
  
  #loginBtnHead{
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  }
  
  
  
  #loginBtnHead:hover{
  animation: animating 8s linear infinite;
  }
  
  @keyframes animating
  {
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
  }
  
  #loginBtnHead:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  
  #loginBtnHead:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: animating 8s linear infinite;
  }



  #logoutBtnHead{
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  }
  
  
  
  #logoutBtnHead:hover{
  animation: animating 8s linear infinite;
  }
  
  @keyframes animating
  {
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
  }
  
  #logoutBtnHead:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  
  #logoutBtnHead:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: animating 8s linear infinite;
  }


#loginBtn{
  background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}


#loginBtn:hover{
  animation: animating 8s linear infinite;
  }
  
  @keyframes animating
  {
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
  }


  #loginBtn:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }

  #loginBtn:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: animating 8s linear infinite;
  }



  #discoverBtn{ 
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  #savedBtn{
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(136, 228, 152);
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  #saved{
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(136, 228, 152);
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  
  h1 span{
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Yesteryear', cursive;
  font-family: 'Rock Salt', cursive;
  }
  
  h1 span{
    display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
  }
  
  h1 span:nth-child(1)
  {
    animation-delay: .5s;
  }  
  h1 span:nth-child(2)
  {
    animation-delay: 0.75s;
  }  
  h1 span:nth-child(3)
  {
    animation-delay: 1.00s;
  }  
  h1 span:nth-child(4)
  {
    animation-delay: 1.25s;
  }  
  h1 span:nth-child(5)
  {
    animation-delay: 1.5s;
  }  
    h1 span:nth-child(6)
  {
    animation-delay: 1.75s;
  }  
  h1 span:nth-child(7)
  {
    animation-delay: 2.00s;
  }  
  h1 span:nth-child(8)
  {
  animation-delay: 2.25s;
  }
  
  @keyframes animate
  {
    0%,100%
   {
  color: rgb(252, 6, 6);
  filter: blur(2px);
  text-shadow: 0 0 10px #00b3ff,
              0 0 20px #00b3ff,
              0 0 40px #00b3ff,
              0 0 80px #00b3ff,
              0 0 120px #00b3ff,
              0 0 200px #00b3ff,
              0 0 300px #00b3ff,
              0 0 400px #00b3ff, 
  }
  5%,95%
  {
    color: #fff;
  filter: blur(0px);
  text-shadow: 0 0 10px none;
  }
  
  }
  

  #area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.bg-white{
  background-color:#c6a2e9;
}



.circles{
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: boxAnimate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes boxAnimate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




  .bg-grey-light {
    background-color: rgb(245, 61, 29);
  }
  
  #searchBtn{
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  }
  
  
  
  #searchBtn:hover{
  animation: animating 8s linear infinite;
  }
  
  @keyframes animating
  {
    0%
    {
      background-position: 0%;
    }
    100%
    {
      background-position: 400%;
    }
  }
  
  #searchBtn:before
  {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  
  #searchBtn:hover::before
  {
    filter: blur(20px);
    opacity: 1;
    animation: animating 8s linear infinite;
  }
  
  
  
   .recipe-img {
      background-size: cover;
      float: left;
      margin: 4px;
      box-shadow: 0 2px 4px #000;
      position: relative;
      transform: scale(0.9);
      transition: .1s;
    }
    
    .recipe-img {
      transform: scale(.9);
      box-shadow: 0 2px 4px #000, 0 8px 32px rgba(0, 0, 0, 0.5);
    }
    
    
    
    .recipe-img:hover {
      transform: scale(1.0); 
    }

    
    #saveToAccount {
      background-color: #004A7F;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Arial;
      font-size: 20px;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      -webkit-animation: glowing 1500ms infinite;
      -moz-animation: glowing 1500ms infinite;
      -o-animation: glowing 1500ms infinite;
      animation: glowing 1500ms infinite;
    }
    @-webkit-keyframes glowing {
      0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
      50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
      100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    }
    
    @-moz-keyframes glowing {
      0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
      50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
      100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    }
    
    @-o-keyframes glowing {
      0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
      100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }
    
    @keyframes glowing { 
      0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
      100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }

    